  <section id="about" class="about">
      <div class="container">
        
        <div class="section-title">
          <h2>About</h2>
          <p>I am a full-stack software professional and problem solver experienced in all phases of software with an in-depth knowledge of architecture, agile methodologies, design patterns and object-oriented principles. Passionate about building applications from the ground up, enhancing existing systems for sustainability or meeting business needs through integration purposes.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile.jpg" class="img-fluid rounded" alt="Profile Image">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Full stack developer &amp; Technical consultant</h3>
            <p class="fst-italic">
              I have an experience of full stack developer with good knowledge of front-end as well as back-end techniques.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>07 April 1990</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <a href="https://2travellers.in" target="_blank"><span>2travellers.in</span></a></li>
                
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Graduate</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
            Working for various organizations for over 8 productive years as a Software Developer, I have acquired considerable experience in designing and developing software applications with Python and more different technologies. I have had considerable experience Web Hosting on Windows Server, Android Application Hosting on Google Play Store and Broad knowledge in full software development life cycle-Analysis, design, Development, Testing, Deployment. My aptitude for working in this genre of work has instilled in me characteristics that I utilize to answer technical questions aimed at me.
          </p>
          </div>
          <div>
          
        </div>
        </div>

      </div>
    </section>
