  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpeg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Avinash Shukla</a></h1>
        <div class="social-links mt-1 text-center">
          <a href="https://github.com/shuklaavinash/" class="github" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://join.skype.com/invite/gZl3TjWRJfgw" class="google-plus" target="_blank"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/avinashshuklain/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
      <!-- .nav-menu -->
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <label>Home</label></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <label>About</label></a></li>
          <li><a href="https://2travellers.in" class="nav-link scrollto" target="_blank"><i class="bx bx-book"></i> <label>Blog</label></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <label>Resume</label></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <label>Portfolio</label></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <label>Services</label></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <label>Contact</label></a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>
