 <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I have an experience of full stack developer with good knowledge of front-end as well as back-end techniques. Flexible to adapt to all kinds of environment. I love structure and order and I also stand for quality. I like working in a team as well as alone. I am a good learner. As the saying goes: ‘two heads are better than one’. Able to motivate and lead others in a team environment.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Avinash Shukla</h4>
              <p><em>I am a visionary and results driven project coordinator, with an excellent record of delivering complex technology and IT projects on time. Possesses strong analytical, team-working, and multi-tasking skills.</em></p>
              <ul>
                <li>Göteborg, Sweden</li>
                <li>+46 7276 45 266</li>
                <li>avinashshukla@live.com</li>
                <li><a href="https://2travellers.in" target="_blank">2travellers.in</a></li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Swedish Language and Literature</h4>
              <h5>2022 - 2024</h5>
              <p><em>Cuben Utbildning AB, Sweden</em></p>
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div>
            <div class="resume-item">
              <h4>Bachelor of Technology</h4>
              <h5>2010 - 2014</h5>
              <p><em>Uttar Pradesh Technical University, Lucknow, India</em></p>
              <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
            </div>
            <div class="resume-item">
              <h4>12th Grade</h4>
              <h5>2007 - 2008</h5>
              <p><em>Sachidanand Inter College, Captainganj, Kushinagar, India</em></p>
              <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
            </div>
            <div class="resume-item">
              <h4>High School</h4>
              <h5>2005 - 2006</h5>
              <p><em>Sachidanand Inter College, Captainganj, Kushinagar, India</em></p>
              <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
            </div>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Trainee Software Programmer</h4>
              <h5>January 2015- April 2016</h5>
              <p><em>All3Axis Technologies Pvt Ltd, Bengaluru, India </em></p>
              <ul>
                <li>Worked in the design, development, and implementation of the tool and communicated with the client.</li>
               </ul>
            </div>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>April 2016- November 2017</h5>
              <p><em>Ecube Media Pvt Ltd, Bengaluru, India</em></p>
              <ul>
                <li>Developed softwares in different technologies.</li>
                <li>Managed up to 5 projects parallelly at a given time while under pressure.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>December 2017 - June 2019</h5>
              <p><em>MicroGenesis CADSoft Pvt Ltd, Bengaluru, India</em></p>
              <ul>
                <li>Delegate tasks to the 7 members of the development team and provide counsel on all aspects of the project.</li>
                <li>Recommended and consulted with clients on the most appropriate software design.</li>
                <li>Created 4+ design presentations and proposals a month for clients and account teams.</li>
                <li>Supervise the assessment of the code in order to ensure quality and accuracy of the software.</li>
              </ul>
              <p class="text-end"><a href="https://www.linkedin.com/in/avinashshuklain/" target="_blank" >Read More...</a></p>
            </div>
          </div>
        </div>

      </div>
    </section>
